@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-bold-webfont.woff') format('woff'),
    url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('../fonts/roboto-medium-webfont.woff') format('woff'),
    url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
    url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header__preview {
    background-color: #EFEFEF;
    padding: 17px 0;
}

.header__preview_list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: calc(50% - 360px / 2);
    padding-right: calc(50% - 360px / 2);
}

.header__preview_list a {
    text-decoration: none;
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.header__preview_list a:hover {
    text-decoration: underline;
}

.header__preview_list a:active {
    color: #F13C6E;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;

}

.header__logo a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    font-family: 'robotobold', sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
}

.header__phone a {
    font-family: 'robotoregular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.call_back {
    margin-left: 40px;
    padding: 12px 56px 13px 56px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
}

.header__list {
    padding: 30px 260px;
}

.header__list ul {
    display: flex;
    justify-content: space-between;
}

.header__list a {
    text-decoration: none;
    font-family: 'robotoregular', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header__list a:hover {
    text-decoration: underline;
}

.header__list a:active {
    color: #F13C6E;
}

.main_banner {
    background-image: url("../img/main_banner.jpg");
    height: calc(100vh - 240px);
    background-size: cover;

}

.main_banner .container {
    max-width: 1110px;
    margin: auto;
}

.about_chair {
    padding: 192px 0;
    max-width: 308px;
}

.about_chair h1 {
    font-family: 'robotobold', sans-serif;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.about_chair p {
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 62px;
}

.about_chair a {
    font-family: 'robotoregular', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 56px 13px 56px;

}